#animated-button {
  transform: scale(1) rotate(0deg);
  transition: transform 1s;
}
#animated-button:hover {
  transform: scale(0.5) rotate(-15deg);
  transition: transform 2s;
}

#mixin-example {
  box-shadow: 5px 5px gray;
  text-shadow: 3px 3px rgb(67, 67, 67);
}

h2 {
  color: rgb(4, 87, 4);
  font-family: "Kleader";
}
h2:hover {
  background-color: rgb(253, 173, 186);
}

h3 {
  color: rgb(188, 77, 239);
}
h3:hover {
  background-color: rgb(250, 250, 13);
}

h4 {
  color: rgb(0, 170, 255);
}
h4:hover {
  background-color: rgb(255, 196, 87);
}

@font-face {
  font-family: "Kleader";
  src: url("Kleader.ttf");
}
main {
  font-family: "Kleader";
}

body,
form,
footer,
pre,
code,
h5 {
  text-align: center;
  font-family: "Kleader";
}

pre code {
  color: red;
}

.bg-image {
  background-image: url("Contact-Us.png");
}