article {
    background-image: url("Contact-Us.png");
}

$ContactUS: url("Contact-Us");
.Contact-Us {
    background-image: url("Contact-Us.png");
    background-repeat: no-repeat;
}

.width100 {
    width: 100%;
}

.height {
    height: 200px;
}