$darkBlueViolet: rgb(138, 43, 226, 1);
$lightBlue: rgb(0, 170, 255, 1);
$primaryFont: "Kleader";
$secondaryFont: "fantasy";
$myColor: red;
body {
    background-color: $darkBlueViolet;
    font-family: $primaryFont;
}

article {
    font-family: $primaryFont;
}

p code {
    font-family: $secondaryFont;
}

@font-face {
    font-family: "Kleader";
    src: url("Kleader.ttf");
}

pre {
    code {
        color: $myColor;
    }
}

p {
    background-color: $lightBlue;
}

h2,
a,
nav {
    font-family: $primaryFont;
}

pre code {
    font-family: $primaryFont;
}