$darkGreen: rgba(4, 87, 4, 1);
$lightPink: rgba(253, 173, 186, 1);
$lightYellow: rgba(250, 250, 13, 1);
$lightGray: rgba(128, 128, 128, 1);
$lighhtOrange: rgba(255, 196, 87, 1);
$darkBlueViolet: rgba(106, 14, 211, 1);
$lightBlue: rgba(0, 170, 255, 1);
$lightPurple: rgba(188, 77, 239, 1);
$lightYellowGreen: rgba(165, 215, 63, 1);
$primaryFont: "Kleader";
$secondaryFont: "fantasy";
$Contact-Us: url("Contact-us.png");
@mixin boxShadow {
    box-shadow: 5px 5px $lightGray;
}

@mixin textShadow {
    text-shadow: 3px 3px $lightGray;
}

@mixin animation {
    transform: scale(1) rotate(0deg);
    transition: transform 1s;
    &:hover {
        transform: scale(0.5) rotate(-15deg);
        transition: transform 2s;
    }
}

#animated-button {
    @include animation;
}

#mixin-example {
    @include boxShadow;
    @include textShadow;
}

h2 {
    color: $darkGreen;
    font-family: $primaryFont;
    &:hover {
        background-color: $lightPink;
    }
}

h3 {
    color: $lightPurple;
    &:hover {
        background-color: $lightYellow;
    }
}

h4 {
    color: $lightBlue;
    &:hover {
        background-color: $lighhtOrange;
    }
}

@font-face {
    font-family: "Kleader";
    src: url("Kleader.ttf");
}

main {
    font-family: $primaryFont;
}

body,
form,
footer,
pre,
code,
h5 {
    text-align: center;
    font-family: $primaryFont;
}

$mycolor: red;
pre {
    code {
        color: $mycolor;
    }
}

$Contact-Us: url("Contact-Us.png");
.bg-image {
    background-image: $Contact-Us;
}